* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Mogra;
    src: url('../fonts/Mogra-Regular.ttf');
}

@font-face {
    font-family: Inknut;
    src: url('../fonts/InknutAntiqua-Regular.ttf');
}

.normal-machine {
    background-image: url('../images/sodamachine.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -2rem;
}

.mobile-machine {
    background-image: url('../images/tallsodamachine.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.screen-grid {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(2, auto);
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
